<html>
    <head>
        <title>Информация о компании</title>
    </head>
    <body id="home_page">
        <table width="100%" id="layout" class="layout">
            <tr valign="top" id="header" class="layout">
                <td colspan="2" class="layout">
                    <b id="logo">
						<img src="{{ url_for('static', filename='logo.jpg') }}" />
                    </b>
                </td>
            </tr>
            <tr valign="top" class="layout">
                <td width="15%" id="navigation" class="navigation layout">
                    <ul>
                        <li><a href="./">На главную</a></li>
                    </ul>
                </td>
                <td width="100%" id="content" class="layout">
                    <h1>Данные о компании</h1>
                    <table border="1" class="data">
						<tr valign="top">
							<td>
								Название компании
							</td>
							<td>
								{{name}}
							</td>
						</tr>
						<tr valign="top">
							<td>
								ИНН
							</td>
							<td>
								{{inn}}
							</td>
						<tr valign="top">
							<td>
								ОКПО
							</td>
							<td>
								{{okpo}}
							</td>
						<tr valign="top">
							<td>
								ОКОПФ
							</td>
							<td>
								{{okopf}}
							</td>
						<tr valign="top">
							<td>
								ОКФС
							</td>
							<td>
								{{okfs}}
							</td>
						<tr valign="top">
							<td>
								ОКВЭД
							</td>
							<td>
								{{okved}}
							</td>
						{% for prop in result %}
						<tr valign="top">
							<td>
								{{prop[0]}}
							</td>
							<td>
								{{prop[1]}}
							</td>
						</tr>
						{% endfor %}
						</tr>
					</table>
                </td>
            </tr>
            <tr valign="top" id="footer" class="layout">
                <td colspan="2" class="layout">
                    <p id="copyright">&copy;&nbsp;PwC</p>
                </td>
            </tr>
        </table>
    </body>
</html>